* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f4f4f4;
  /* color: #333; */
  line-height: 1.6;
  padding: 20px;
}

h1,
h2,
h3,
p {
  margin-bottom: 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
}

/* p {
    margin-bottom: 15px;
} */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* border-radius: 5px; */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
nav ul li a:hover {
  background-color: #555;
}

nav ul li {
  margin-left: 20px;
}

.marquee {
  background-color: orange;
  color: black;
  /* padding: 10px 0; */
  text-align: center;
  font-size: 20px;
  display: block;
}



.hero {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  gap: 20px;
  flex-wrap: wrap;
  background-image: url(/assets/herobg.jpg);
  background-size: cover;
  background-position: center;

  color: white;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.cta-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ff9800;
}

.features-section{
    /* margin-top: 30px; */
    padding: 20px;
    background: linear-gradient(to bottom, #333 50%, #f4f4f4 50%, #f4f4f4 100%);
    border-top: 3px solid orange;
}

.features-section h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: white;
    text-align: center;
    
}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-item{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    border: 2px solid orange;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        /* transform: translateY(-5px);
        transition: ease-in-out 0.3s; */
        transition: box-shadow 0.3s;
        transform: scale(1.05);
        transition: ease-in-out 0.3s; 
    }
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.feature-item p {
    font-size: 16px;
    color: #666;
}
.feature-item img {
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.demo{
    padding: 50px 0;
    text-align: center;
    
}

.demo h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.pricing {
    padding: 50px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    font-weight: bold;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
    background-color: #fff;
}

.buy-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #333;
}

.submit-button {
    background-color: orange;
    color: white;
    /* width: 100%; */
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #333;
}

.contact {
    padding: 50px 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}